*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

body{
    font-family: 'Open Sans', sans-serif;;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding:0 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: yellowgreen;
    transition:all .5s;
}

li a:hover::after{
    width: 100px;
}

main{
    display:flex;
    border:1px solid yellowgreen;
    height:calc(100vh  100px);
    align-items: center;
    justify-content: center;
}

.can-ada{
    max-width: 670px;
    height: auto;
}

main h1{
    font-size: 34px;
    color: black;
    text-transform: uppercase;
}

main h2{
    font-size: 25px;
    color: yellowgreen;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta{
    padding:15px 30px;
    background-color: black;
    color: yellowgreen;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
    color: 0.15s;
}

.cta:hover{
    background-color: yellowgreen;
    color: white;
}
.signup.btn{
    padding:10px 20px;
    background-color: black;
    color: yellowgreen;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}